*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: hsl(292, 16%, 49%);
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Work Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 20px 30px -20px hsl(292, 16%, 49%);
    max-width: 36rem;
}

.container .header{
    display: flex;
    margin: 0 1rem;
    color: hsl(292, 42%, 14%);
    font-size: 15px;
    font-weight: 700;
}

.header h1{
    padding-left: 20px;
}

.header img{
    width: 1.5rem
}

button{
    color: hsl(292, 42%, 14%);
    transition: 0.5s;
}

button:hover{
    color: #AD28EB;
}

button{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    font-size: 20px;
    font-weight: 700;
    background-color: hsl(0, 0%, 100%);
}

.paragraph{
    color: hsl(292, 16%, 49%);
    line-height: 1.6;
    font-size: 12px;
    text-align: left;
}

@media (min-width: 768px) {
    body {
      background: hsl(275, 100%, 97%) url("./assets/images/background-pattern-desktop.svg") no-repeat fixed top;
      background-size: 100% auto;
    }
  }
  